*.py[cod]
*.project
*.pydevproject
*.pydev
*.*~
*.po
.settings/
l10n_ar/
l10n_at/
l10n_be/
l10n_be_coda/
l10n_be_hr_payroll/
l10n_be_hr_payroll_account/
l10n_be_invoice_bba/
l10n_bo/
l10n_br/
l10n_ca/
l10n_ch/
l10n_cl/
l10n_cn/
l10n_co/
l10n_cr/
l10n_de/
l10n_ec/
l10n_es/
l10n_et/
l10n_fr/
l10n_fr_hr_payroll/
l10n_fr_rib/
l10n_gr/
l10n_gt/
l10n_hn/
l10n_hr/
l10n_in/
l10n_in_hr_payroll/
l10n_it/
l10n_lu/
l10n_ma/
l10n_multilang/
l10n_mx/
l10n_nl/
l10n_pa/
l10n_pe/
l10n_pl/
l10n_pt/
l10n_ro/
l10n_si/
l10n_syscohada/
l10n_th/
l10n_tr/
l10n_uk/
l10n_us/
l10n_uy/
l10n_ve/
